*.fbx filter=lfs diff=lfs merge=lfs -text
Assets/Animations/Captain[[:space:]]Walk.fbx filter=lfs diff=lfs merge=lfs -text
*./Assets/Animations/Captain[[:space:]]Walk.fbx filter=lfs diff=lfs merge=lfs -text
